doctype html
html(lang='en')
 include head.pug
   title fwp profile
 body
    header 
      include headerUser.pug  
    main
        h2 fwp profile
        section.profile_info
          p #{userInfo.id_user}
          p #{userInfo.email}
          p #{userInfo.user_name}
          p #{userInfo.firstname}
          p #{userInfo.surename}
          button#editUserData Edit User Data
        section#formUserData
	        
    footer
    script(src="script.js")