doctype html
html(lang='en')
 include head.pug
   title fwp profile
 body
    header
    main
        h3 This is your profile section
        p You can check your user info
        section.profile_info
          p #{userInfo.id_user}
          p #{userInfo.email}
          p #{userInfo.user_name}
          p #{userInfo.firstname}
          p #{userInfo.surename}
        p Click and fill bellow if you wanna change your info.
        button#editUserData Edit your profile
        section#formUserData
	        
    footer
    script(src="script.js")